openai>=1.40.0
httpx==0.27.2
soundfile==0.12.*
librosa==0.10.*
scipy==1.12.*
tqdm==4.66.*
requests>=2.32.2
pyroomacoustics==0.8.2
pandas>=2.0.2
python-dotenv==1.0.1
git+https://github.com/openai/swarm.git@9db581c

# TTS library dependencies
aiohttp==3.11.13
pydub>=0.25.1
langcodes==3.5.0
elevenlabs>=1.57.0
einops==0.8.0
stable-audio-tools==0.0.18
kokoro>=0.9.4
misaki[zh]==0.9.4

Jinja2==3.1.4
pydantic==2.8.2
pydantic-settings==2.5.2
pydantic-core==2.20.1
rich==13.7.1
SQLAlchemy==2.0.32
sqlmodel==0.0.21
chromadb==0.5.11
langchain==0.3.1
langchain-community==0.3.1
langchain-core==0.3.6
langchain-experimental==0.3.2
langchain-openai==0.2.1
langchain-text-splitters==0.3.0
nltk==3.9.1

